blib
_build
Makefile
inc
Makefile
META.yml
pm_to_blib
.project
.settings
MANIFEST.bak
Makefile.old
cover_db/
Games-Lacuna-Task-*.tar.gz
Games-Lacuna-Task-*/
.DS_Store
MANIFEST.bak
.includepath
MYMETA.json
MYMETA.yml
nytprof.out
Build
nytprof/
meta/